.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 0;
  color: $color-grey-darker;
  background-color: transparent;
  transition: background-color $transition-medium ease;
  container-type: inline-size;

  &__link {
    padding: 5px 9px;
    font-family: $font-family-accent;
    font-size: 1.5rem;

    &:hover {
      color: $color-grey-dark;
      text-decoration: underline;
    }

    &.current {
      color: #fff;
      background-color: $color-grey-dark;
      transition: background-color $transition-medium ease;
      pointer-events: none;
    }

    &.inactive {
      pointer-events: none;
      opacity: 0.2;
    }
  }
}

@container (min-width: 730px) {
  .pagination__link {
    padding-inline: 7px;
  }
}

@media (max-width: 768px) {
  .pagination {
    &__link {
      padding-inline: 5px;
      font-size: 1.1rem;
    }
  }
}
