.catalogue {
  display: grid;
  grid-template-columns: max-content 5fr;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas:
    'nav pagination-top'
    'nav main'
    'nav pagination-bottom';
  flex: 1;

  &__nav {
    grid-area: nav;
    min-width: 200px;
  }

  &__pagination {
    &_top {
      grid-area: pagination-top;
      padding-top: 5px;
      margin-bottom: 20px;
    }

    &_bottom {
      grid-area: pagination-bottom;
      margin-top: 20px;
    }
  }

  &__main {
    position: relative;
    grid-area: main;

    & .game-cards-list__loading {
      top: 0;
    }
  }
}

.catalogue-menu {
  position: sticky;
  top: 25px;
  font-family: $font-family-secondary;
  font-size: 1.6em;

  &__link {
    display: block;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: $border-radius-main;
    margin-bottom: 1px;

    &:hover {
      border: 2px solid $color-grey-dark;
    }

    &.active {
      background-color: $color-yellow;
      border: 2px solid $color-grey-dark;
      box-shadow: inset 0px -3px 0px #fff, inset 0px 3px 0px #111;
      pointer-events: none;
    }
  }
}

.menu-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 390px;
  border-radius: $border-radius-main;
  background: linear-gradient(135deg, $color-yellow-light, #fff);
  background-size: 150% 150%;
  animation: gradient-loading 3s linear infinite;
  filter: blur(1px);
  cursor: default;

  & li {
    width: 85%;
    padding: 10px;
    background-color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    color: $color-grey;
    border-radius: $border-radius-main;
    animation: moveUpDown 2s ease-in-out infinite;
    opacity: 0.5;
  }
}
