.image-dummy {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1.5;
  font-family: $font-family-secondary;
  font-size: 1.6em;
  color: $color-grey;
  background-color: #eee;

  &:hover {
    & .icon-exclamation {
      color: $color-red-light;

      & path {
        stroke: $color-red;
      }
    }
  }

  & .icon-exclamation {
    width: 50%;
    height: auto;
    color: $color-grey;
    transition: color $transition-medium ease;

    & path {
      stroke: #a8a8a8;
    }
  }
}
