.loading-simple {
  width: 100%;
  aspect-ratio: 1 / 1;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 3px solid $color-yellow;
    border-radius: 50%;
    border-bottom-color: transparent;
    animation: spin_360 1s linear infinite;
  }
}
