.search {
  position: relative;
  height: 45px;
  color: $color-grey-dark;

  &__form {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    transition: width 0.2s ease-in;

    &.focused {
      width: 140%;

      & .search__inner {
        border-color: $color-grey-dark;
      }

      & .search__button_submit svg {
        fill: $color-grey-dark;
      }
    }
  }

  &__inner {
    position: absolute;
    z-index: 1; // Will encouter bug if removed
    width: 100%;
    border: 2px solid $color-grey;
    border-radius: 10px;
    overflow: hidden;
  }

  &__input {
    position: relative;
    z-index: 11;
    width: 100%;
    min-height: 41px;
    padding: 10px 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: $font-family-main;
    color: inherit;
    border: none;
    border-bottom: 1px solid transparent;

    &:focus-visible {
      outline: 0;
    }
  }

  &__results {
    position: relative;
    z-index: 10;
    display: none;
    width: 100%;
    background-color: #fff;

    &.active {
      display: block;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
      border-top: 1px solid $color-grey-dark;
      padding: 10px;
      font-size: 1.2rem;

      &_not-found {
        text-align: center;
        font-family: $font-family-thin;
        font-size: 1.8rem;
        font-weight: bold;
        font-style: italic;
        color: $color-grey-darker;
        background-color: #eee;
      }
    }

    &-link {
      display: flex;
      gap: 5px;
      min-height: 25px;
      align-items: center;
      border-radius: $border-radius-main;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:focus {
        outline: 0;
      }

      &:hover,
      &:focus {
        background-color: $color-grey-dark;
        color: #fff;
      }

      & img {
        width: 25px;
      }
    }
  }

  &__button {
    position: absolute;
    z-index: 11;
    width: 35px;
    height: 43px;

    &_submit {
      left: 0;

      & svg {
        left: 8px;
        width: 25px;
        fill: $color-grey;
      }
    }

    &_reset {
      right: 0;
      visibility: hidden;

      &:hover svg {
        fill: $color-red;
      }

      &.active {
        visibility: visible;
      }

      & svg {
        right: 8px;
        width: 20px;
        fill: $color-red-light;
      }
    }
  }

  & svg {
    position: absolute;
    inset-block: 0;
    margin: auto 0;
    transition: fill $transition-instant ease;
  }

  &__loading {
    position: absolute;
    z-index: 11;
    width: 15px;
    aspect-ratio: 1 / 1;
    top: 12px;
    left: 11px;

    & .loading-simple {
      position: absolute;
      inset: 0;
      margin: auto;
      width: 75%;

      &::before {
        border-width: 2px;
      }
    }
  }
}

@media (max-width: 768px) {
  .search {
    // TODO: I should rework it probably somehow
    &__form {
      &.focused {
        width: 110%;
      }
    }

    &__input {
      font-size: 1.4rem;
    }
  }
}
