.tabs {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__menu {
    position: relative;
    display: flex;
    margin-bottom: 20px;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      inset-inline: 1%;
      display: block;
      height: 2px;
      background: linear-gradient(
        to right,
        rgba(17, 17, 17, 0),
        $color-grey-dark,
        rgba(17, 17, 17, 0)
      );
    }

    &-item {
      flex: 1;

      &:last-child {
        & .tabs__menu-button::after {
          display: none;
        }
      }
    }

    &-button {
      position: relative;
      width: 100%;
      padding: 15px 25px;
      text-align: center;
      font-size: 1.6em;
      color: $color-grey-darker;
      text-transform: uppercase;

      &:hover {
        color: $color-grey-dark;
      }

      &::after {
        content: '';
        position: absolute;
        inset-block: 10%;
        right: 0;
        width: 2px;
        background: linear-gradient(
          to bottom,
          rgba(17, 17, 17, 0),
          #111111,
          rgba(17, 17, 17, 0)
        );
      }

      &.active {
        color: $color-grey-dark;
        font-weight: bold;
        pointer-events: none;
      }
    }
  }

  &__content {
    position: relative;
    display: none;
    flex: 1;
  }

  & .cards-list {
    &::before,
    &::after {
      content: '';
      position: absolute;
      inset-block: 0;
      width: 2px;
      background-color: $color-grey-dark;
      background: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0),
        $color-grey-dark,
        rgba(17, 17, 17, 0)
      );
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}
