.section-header {
  position: relative;
  color: #fff;
  background-color: $color-grey-dark;
  border-bottom: 2px solid $color-grey-dark;
  border-radius: 5px 5px 0 0;
  cursor: pointer;

  &:hover {
    & .icon-cross {
      color: $color-yellow;
      transition: transform $transition-medium ease-out,
        color $transition-medium ease-out;
    }
  }

  & .icon-cross {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;

    &::after {
      opacity: 0;
    }
  }
}
