.input-default {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;

  & label {
    padding-left: 10px;
    text-align: left;
    font-family: $font-family-secondary;
    font-size: 1.8rem;
    line-height: 100%;
  }

  & input {
    padding: 10px 20px;
    border: 2px solid $color-grey-light;
    border-radius: $border-radius-main;

    &:focus,
    &:focus-visible {
      border-color: $color-grey-dark;
    }

    &.error {
      border: 2px solid $color-red;

      & ~ .input-default__error {
        display: block;
      }
    }
  }

  // Error element
  &__error {
    display: none;
    padding-inline: 10px;
    font-family: $font-family-thin;
    font-size: 1.6rem;
    color: $color-red;
    text-align: left;
  }
}
