@use '/src/styles/mixins/mq' as *;

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 0;
  min-height: 22px;
  color: $color-grey-dark;
  background-color: transparent;
  transition: background-color $transition-medium ease;
  container-type: inline-size;

  &__item {
    font-family: $font-family-accent;
    font-size: 1.5rem;
  }

  &__link {
    padding: 5px 9px;

    &:hover {
      color: $black;
      text-decoration: underline;
    }

    &.current {
      color: #fff;
      background-color: $black;
      transition: background-color $transition-medium ease;
      pointer-events: none;
    }

    &.inactive {
      pointer-events: none;
      opacity: 0.2;
    }

    &.accent {
      color: $color-blue;
    }
  }

  @include tablet {
    &__link {
      padding-inline: 5px;
      font-size: 1.1rem;
    }
  }
}
