@keyframes spin {
  to {
    transform: rotate(180deg);
  }
}

@keyframes gradient-loading {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveUpDown {
  0% {
    transform: scaleX(0.95) scaleY(1.05);
  }

  50% {
    transform: scaleX(1.05) scaleY(0.95);
  }

  100% {
    transform: scaleX(0.95) scaleY(1);
  }
}

@keyframes squishY {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.75);
  }

  100% {
    transform: scaleY(1);
  }
}
