p::selection,
h1::selection,
h2::selection,
h3::selection {
  // TODO: Use scss functions to make it more universal
  background-color: $color-yellow;
  color: #fff;
}

.root {
  position: relative;
  overflow-x: clip;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: url(../assets/img/grunge.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    mix-blend-mode: multiply;
    opacity: 0.1;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1024px;
  min-height: 100vh;
  padding: 10px;
  margin: 0 auto;
  font-family: $font-family-main;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 30px;
  padding-inline: 0;
}

.block-default {
  background-color: #fff;
  border: 2px solid $color-grey-dark;
  border-radius: $border-radius-main;

  &_shadowDown {
    box-shadow: 0px 3px 0px #111;
  }

  &_shadowUp {
    box-shadow: 0px -3px 0px #111;
  }
}

.title-main {
  position: relative;
  width: 100vw;
  padding: 5px 0;
  margin: 0 calc(-50vw + 50%);
  text-align: center;
  font-size: 4rem;
  font-family: $font-family-accent;
  text-transform: uppercase;
  color: $color-grey-dark;
  background-color: $color-yellow;
  border: 2px solid $color-grey-dark;
  border-left: 0;
  border-right: 0;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../assets/img/noise.png');
    mix-blend-mode: overlay;
    opacity: 0.5;
  }
}

.title-secondary {
  padding: $padding-block-main;
  font-family: $font-family-main;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: inherit;
}

.display-hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.icon-cross {
  height: 20px;
  aspect-ratio: 1 / 1;
  margin: auto 0;
  color: #fff;
  transition: transform $transition-medium ease-out,
    color $transition-medium ease-out, opacity $transition-medium ease-out;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    background-color: currentColor;
    border-radius: $border-radius-main;
    top: 0;
  }

  &::before {
    bottom: 0;
    width: 100%;
    height: 5px;
    margin: auto 0;
  }

  &::after {
    left: 0;
    right: 0;
    width: 5px;
    height: 100%;
    margin: 0 auto;
    transition: opacity $transition-medium ease-out;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-default {
  font-size: 1.5rem;

  &::first-letter {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
  }
}

.link-default {
  color: $color-blue;
  text-decoration: underline;

  &::selection {
    background-color: $color-grey-dark;
    color: #fff;
  }

  &:hover {
    text-decoration: none;
  }
}

.link-accent {
  color: $color-grey-dark;
  font-weight: bold;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.icon-auth {
  padding: 4px;
  border: 2px solid $color-grey-dark;
  border-radius: 50%;
  transition: background-color $transition-medium ease;
  background-color: #fff;

  &__svg {
    color: $color-grey-dark;
    transition: color $transition-fast ease;

    & path {
      fill: #fff;
    }
  }
}

@media (max-width: 768px) {
  html {
    margin: 0;
  }
}
