$font-family-main: Inter, Helvetica, sans-serif;
$font-family-secondary: Kanit, Helvetica, sans-serif;
$font-family-accent: Oswald, Helvetica, sans-serif;

$color-grey: #ccc;
$color-grey-light: #eee;
$color-grey-dark: #111;
$color-yellow: #efc933;
$color-yellow-light: #eee1ae;
$color-red: #d62323;
$color-red-light: #d8aaaa;

$padding-block-main: 10px 25px;

$border-radius-main: 10px;

$transition-fast: 0.2s;
$transition-medium: 0.3s;
$transition-slow: 3s;
