$font-family-main: Inter, Helvetica, sans-serif;
$font-family-secondary: Kanit, Helvetica, sans-serif;
$font-family-accent: Oswald, Helvetica, sans-serif;
$font-family-thin: Dosis, Helvetica, sans-serif;
$font-family-handwriting: Caveat, Helvetica, sans-serif;

$color-grey: #ccc;
$color-grey-light: #eee;
$color-grey-darker: #888;
$color-grey-dark: #111;

$color-yellow-dark: #726019;
$color-yellow: #efc933;
$color-yellow-lighter: #ecdb94;
$color-yellow-light: #eee1ae;
$color-yellow-bleak: #f0ebd4;

$color-red: #d62323;
$color-red-lighter: #d35656;
$color-red-light: #d8aaaa;

$padding-block-main: 10px 25px;

$border-radius-main: 10px;

$transition-instant: 0.1s;
$transition-fast: 0.2s;
$transition-medium: 0.3s;
$transition-slow: 3s;
