$font-family-main: Inter, Helvetica, sans-serif;
$font-family-secondary: Kanit, Helvetica, sans-serif;
$font-family-accent: Oswald, Helvetica, sans-serif;
$font-family-thin: Dosis, Helvetica, sans-serif;
$font-family-handwriting: Caveat, Helvetica, sans-serif;

$black: #111;

$color-grey-light: #eee;
$color-grey: #ccc;
$color-grey-dark: #888;

$color-yellow-bleak: #f0ebd4;
$color-yellow-lighter: #eee1ae;
$color-yellow-light: #ecdb94;
$color-yellow: #efc933;
$color-yellow-dark: #726019;

$color-red-lighter: #d8aaaa;
$color-red-light: #d35656;
$color-red: #d62323;

$color-blue-bleak: #bccbe6;
$color-blue: #2d5b9e;
$color-blue-dark: #26497e;
$color-blue-darker: #0e3268;

$padding-block-main: 10px 25px;

$border-radius-main: 10px;
$border-radius-smaller: calc($border-radius-main / 2);

$transition-instant: 0.1s;
$transition-fast: 0.2s;
$transition-medium: 0.3s;
$transition-slow: 3s;

$overlay-opacity: 0.65;
