.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  margin: 0 auto;

  & p {
    font-size: 1.6rem;
  }

  & strong {
    text-transform: uppercase;
  }

  & ul {
    margin-left: 20px;
    list-style: disc;

    & li::marker {
      font-size: 2rem;
      color: $color-yellow;
    }
  }

  &__lang {
    position: relative;
    display: flex;
    gap: 10px;
    width: max(30%, 150px);
    margin: 0 auto;
    font-size: 1.8rem;
    color: $black;
    text-transform: uppercase;

    & > * {
      flex-basis: 50%;
    }

    &-button {
      position: relative;
      padding-block: 10px;
      font-weight: bold;
      background-color: #fff;
      border-radius: $border-radius-main;
      border: 2px solid $black;
      user-select: none;
      transition: transform $transition-medium ease,
        box-shadow $transition-medium ease,
        background-color $transition-medium ease, color $transition-medium ease;

      // Element for animation
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-blue;
        border-radius: 7px;
        transition: clip-path $transition-medium ease-out,
          opacity $transition-medium ease-out;
      }

      &:hover {
        color: #fff;
        transform: scale(1.05);
        background-color: $black;
      }

      // Left button
      &_left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: -2px 2px 0 0 #fff, -4px 4px 0 0 $black;

        &:hover {
          box-shadow: -4px 4px 0 0 #fff, -6px 6px 0 0 $black;
        }

        // Element for animation
        &::after {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          clip-path: circle(0% at 100% 0%);
        }
      }

      // Right button
      &_right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: 2px 2px 0 0 #fff, 4px 4px 0 0 $black;

        &:hover {
          box-shadow: 4px 4px 0 0 #fff, 6px 6px 0 0 $black;
        }

        // Element for animation
        &::after {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          clip-path: circle(0% at 0% 0%);
        }
      }

      &.active {
        position: relative;
        top: 1px;
        color: #fff;
        border-color: $color-blue-darker;
        border-width: 3px;
        box-shadow: none;
        pointer-events: none;
        transform: scale(0.92);

        // Element for animation
        &::after {
          clip-path: circle(100% at 50% 50%);
        }
      }

      &-text {
        position: relative;
        z-index: 1;
      }
    }
  }

  &__separator {
    height: 2px;
    margin-block: 10px;
    background: linear-gradient(
      to right,
      rgba(17, 17, 17, 0),
      #111111,
      rgba(17, 17, 17, 0)
    );
  }
}
