.card {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100%;
  border-radius: $border-radius-main;
  background-color: #eee;
  overflow: hidden;

  &:has(.image-dummy) .card__name {
    opacity: 1;
  }

  &__header {
    display: flex;
    justify-content: center;
    gap: 10px;
    top: 0;
    inset-inline: 0;
    z-index: 1;
    background-color: rgba($color-grey-dark, 1);
  }

  &__rating {
    left: 0;
    padding: 5px 10px;
    font-family: $font-family-secondary;
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
    text-align: center;
    background-color: $color-yellow-light;
    transition: color $transition-medium ease,
      background-color $transition-medium ease;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

    & span {
      color: $color-grey-darker;
    }
  }

  &__like {
    min-width: 50px;
    color: #fff;

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      width: 100%;
      height: 100%;

      &:hover .heart-icon {
        transform: scale(1.1);
      }

      &:active .heart-icon {
        transform: scale(1);
      }

      & .heart-icon.liked {
        & .heart-fill,
        & .heart-stroke {
          fill: $color-red-light;
        }
      }

      & .heart-icon path {
        transition: fill $transition-medium ease;
      }

      & .heart-icon .heart-fill {
        fill: #666;
      }

      & .heart-icon .heart-stroke {
        fill: #fff;
      }
    }
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
  }

  &__link {
    display: block;
    height: 100%;
  }

  &__image {
    height: 100%;
    filter: grayscale(100%);
    transition: filter $transition-medium ease;
    object-fit: cover;
  }

  &__name {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: $color-grey-dark;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity $transition-medium ease-in-out;
  }
}

.card-flying {
  transition: transform 0.15s ease-in, z-index $transition-medium ease,
    box-shadow $transition-fast ease-out;
  box-shadow: -2px 2px 0 rgba($color-grey-dark, 0.9);
  border: 5px solid $color-yellow-light;

  &:hover {
    z-index: 2;
    transform: scale(1.2);
    box-shadow: -20px 25px 0 rgba($color-grey-dark, 0.9);
    transition: transform $transition-fast ease-out,
      z-index $transition-medium ease, box-shadow $transition-medium ease-out,
      $transition-medium ease;
    border: 5px solid $color-yellow;

    & .heart-icon .heart-fill {
      fill: $color-grey-dark;
    }

    & .heart-icon.liked {
      & .heart-fill,
      & .heart-stroke {
        fill: $color-red;
      }
    }

    & .card__image {
      filter: grayscale(0%);
      transition: filter $transition-medium ease;
      transform: scale(1.01);
    }

    & .card__rating {
      color: $color-grey-dark;
      background-color: $color-yellow;
    }

    & .card__name {
      opacity: 1;
    }

    & .image-dummy {
      color: $color-red-lighter;
      font-weight: bold;

      & .icon-dummy {
        & path {
          fill: $color-red-light;
          stroke: $color-red;
        }

        & .accent {
          fill: $color-red-lighter;
        }
      }
    }
  }

  &_slide-right {
    &:hover {
      transform: scale(1.2) translateX(25%);
      box-shadow: -35px 35px 0 rgba($color-grey-dark, 0.9);
    }
  }
}

.cards-list_mini {
  & .cards-list__item {
    flex-basis: 15%;
  }

  & .cards-list__item {
    min-height: 200px;
  }

  & .image-dummy {
    max-width: 142.5px;
    min-height: 200px;
    aspect-ratio: 1/1;
  }

  & .card__image {
    width: 100%;
    object-fit: scale-down;
    object-position: center 33px;
    border-radius: $border-radius-main;
  }

  & .card__name {
    padding: 7px;
    font-size: 1.2em;
    opacity: 1;
  }
}
