.catalogue-menu {
  position: sticky;
  top: 25px;
  font-family: $font-family-secondary;

  &__link {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #eee;
    color: $color-grey-dark;
    font-size: 1.6rem;
    border-radius: $border-radius-main;
    border: 2px solid #fff;
    box-shadow: inset 3px -3px 0px $color-grey, inset -3px 3px 0px $color-grey;
    transition: background-color $transition-fast ease,
      box-shadow $transition-fast ease-out, color $transition-fast ease;

    &:hover,
    &.active {
      color: #fff;
      box-shadow: -2px 4px 0px $black;
      background-color: $black;
      transition: background-color $transition-fast ease,
        box-shadow $transition-fast ease-in, color $transition-fast ease;
      border: 2px solid #fff;
    }

    &:active {
      background-color: $color-yellow;
      color: $black;
      box-shadow: -1px 2px 0px $black;
      transform: scale(0.99);
      transition: background-color $transition-instant,
        color $transition-instant;
    }

    &.active {
      pointer-events: none;
    }
  }

  &--loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    min-height: 530px;
    border-radius: $border-radius-main;
    background: linear-gradient(135deg, $color-grey-light, #fff);
    background-size: 150% 150%;
    animation: gradient-loading 3s linear infinite;
    filter: blur(1px);
    cursor: default;

    & li {
      width: 85%;
      padding: 10px;
      font-size: 1.2rem;
      text-transform: uppercase;
      text-align: center;
      color: $color-grey;
      background-color: #fff;
      border-radius: $border-radius-main;
      animation: moveUpDown 2s ease-in-out infinite;
      opacity: 0.5;
    }
  }
}
