.form-auth {
  display: flex;
  flex-direction: column;
  width: min(100vw, 360px);

  // TODO: use scss functions and also create component
  &:invalid .form-auth__button-submit {
    background-color: $color-grey-light;
    box-shadow: none;
    pointer-events: none;

    &:hover {
      transform: none;
      text-decoration: none;
    }
  }

  &__blocker {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: #fff;
    opacity: 0.75;
  }

  &__input-holder {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-block: 20px;
  }

  &__input {
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__text {
    margin-top: 2.5rem;
    font-size: 1.5rem;

    & button {
      color: $color-blue;
      font-weight: bold;
      text-transform: capitalize;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__loading-button {
    display: flex;
    gap: 5px;

    & .loading-simple {
      width: 1.8rem;
      color: #fff;
    }
  }

  &__error {
    margin-top: 2.5rem;
    font-family: $font-family-thin;
    font-size: 1.6rem;
    color: $color-red;
  }
}

.auth-title {
  position: relative;
  padding-bottom: 10px;
  font-family: $font-family-accent;
  font-size: 2rem;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    inset-inline: 1%;
    display: block;
    height: 2px;
    background: linear-gradient(
      to right,
      rgba(17, 17, 17, 0),
      #111,
      rgba(17, 17, 17, 0)
    );
  }
}

.auth-success {
  & .auth-title {
    margin-top: 5px;
    margin-bottom: 25px;
  }

  & .modal__button-default {
    text-transform: uppercase;
  }
}
