.modal {
  position: fixed;
  z-index: 100;
  inset: 0;
  display: none;
  visibility: hidden;
  padding: 20px;
  justify-content: center;
  align-items: center;

  &.opened {
    display: flex;
    visibility: visible;

    & .modal__container {
      opacity: 1;
      transform: scale(1) rotate(0);
    }
  }

  &.animated {
    display: flex;
    visibility: hidden;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: $color-grey-dark;
    opacity: 0.8;
  }

  &__container {
    position: relative;
    text-align: center;
    opacity: 0;
    transform: scale(0) rotate(-360deg);
    transition: transform $transition-medium, opacity $transition-medium;
    transition-delay: 10ms;
    transition-timing-function: ease;
  }

  &__close {
    &-container {
      position: absolute;
      z-index: 102;
      top: 0;
      right: 0;
      display: flex;
      place-content: center;
      width: 40px;
      aspect-ratio: 1 / 1;
      cursor: pointer;

      & .icon-cross {
        height: 14px;
      }

      &:hover .modal__close-button {
        color: $color-red;
        opacity: 1;
        transform: scale(2.2) rotate(45deg);
      }
    }

    &-button {
      color: $color-grey-dark;
      transform: scale(2) rotate(45deg);

      &::before {
        height: 4px;
      }

      &::after {
        width: 4px;
      }
    }
  }

  &__button-default {
    width: 100%;
    padding: 10px 20px;
    background-color: $color-blue;
    border-radius: $border-radius-main;
    font-family: $font-family-secondary;
    font-size: 1.8rem;
    color: #fff;
    text-transform: capitalize;
    box-shadow: 0px 3px 0px $color-grey-dark;
    transition: box-shadow $transition-fast ease,
      transform $transition-fast ease;

    &:hover,
    &:focus {
      text-decoration: underline;
      transform: scale(1.02);
    }

    &:focus {
      outline: none;
    }

    &:active {
      box-shadow: none;
      transform: scale(0.98);
    }
  }
}
