.cards-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 25px;
  width: 100%;

  &__item {
    flex-basis: 25%;
    aspect-ratio: 1 / 1.5;
    height: max-content;
    max-width: 230px;
    min-height: 350px;
  }

  &_compact {
    & .cards-list__item {
      flex-basis: 50%;
      // You should try to keep these numbers even because of poor subpixel rendering causing blur during translate
      max-width: 160px;
      min-height: 218px;
    }

    & .card__name {
      padding-block: 5px;
      font-size: 1.3rem;
    }

    & .icon-dummy {
      width: 60%;
    }

    & .image-dummy__text {
      font-size: 1.5rem;
    }

    .button-like__notification {
      width: min-content;
      text-align: center;

      &::before {
        inset-inline: auto;
        right: 15px;
      }
    }
  }

  &_mini {
    & .card {
      grid-template-rows: 1fr;
    }

    & .cards-list__item {
      flex-basis: 15%;
      aspect-ratio: 1 / 1;
      max-width: 140px;
      min-height: auto;
    }

    & .card__image,
    & .image-dummy {
      min-width: 133px;
      aspect-ratio: 1 / 1;
    }

    & .image-dummy {
      position: relative;
      top: -18px;
    }

    & .icon-dummy {
      width: 50% !important; // TODO: remove important and try @container instead
    }

    & .image-dummy__text {
      font-size: 1.3rem;
    }

    & .card__name {
      padding: 7px;
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 768px) {
  .cards-list {
    &__item {
      flex-basis: 48%;
      max-width: 100%;
      min-height: 100%;
    }
  }
}

@media (max-width: 827px) {
  .cards-list {
    &_compact {
      & .cards-list__item {
        max-width: 220px;
      }
    }
  }
}
