.data-not-available {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-family: $font-family-thin;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  color: $color-grey;
}
