.header {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, auto) 25% max-content;
  align-items: center;
  padding: $padding-block-main;
}

.logo {
  width: max-content;

  & img {
    width: 50px;
  }
}

.menu-main {
  display: flex;
  gap: 10px;
  font-family: $font-family-secondary;
  color: $color-grey-dark;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;

  &__item {
    display: block;
    padding: 5px 15px;
    border-radius: 10px;

    &:hover {
      outline: 2px solid $color-grey-dark;
    }

    &:active,
    &.current {
      background-color: $color-yellow;
    }
  }
}

.button-auth {
  padding: 4px;
  border: 2px solid $color-red;
  border-radius: 50%;

  &:hover {
    background-color: $color-red-light;
  }

  &__svg {
    color: $color-red;

    & path {
      fill: #fff;
    }
  }
}

@media (max-width: 768px) {
  .menu-main {
    gap: 0;
  }
}
