.section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 50vh;

  &:last-of-type + .section-separator {
    display: none;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
    padding: 25px;
  }

  &.collapsed {
    flex: 0;
    box-shadow: none;
    min-height: 0;

    & .section-header {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    & .icon-cross {
      transform: rotate(90deg);
      transition: transform $transition-medium ease-out,
        color $transition-medium ease-out;
    }

    & .icon-cross::after {
      opacity: 1;
      transition: opacity $transition-medium ease-out;
    }

    & .section__content {
      display: none;
    }

    & .spinner:before {
      height: 0;
    }
  }
}

.section-separator {
  content: '';
  width: 100vw;
  margin: 0 calc(-50vw + 50%);
  height: 2px;
  background-color: $color-grey-darker;
}
