@use '/src/styles/mixins/mq' as *;

.card {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100%;
  border-radius: $border-radius-main;
  background-color: #444;
  overflow: hidden;
  border: 6px solid $color-yellow-lighter;

  &:has(.image-dummy) .card__name {
    opacity: 1;
  }

  &__header {
    display: flex;
    justify-content: center;
    gap: 10px;
    inset-inline: 0;
    z-index: 2;
    background-color: rgba($black, 1);
  }

  &__rating {
    padding: 5px 10px;
    font-family: $font-family-secondary;
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
    text-align: center;
    background-color: $color-yellow-lighter;
    transition: color $transition-medium ease,
      background-color $transition-medium ease;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    cursor: default;

    & span {
      color: $color-grey-dark;
    }
  }

  &__like {
    min-width: 50px;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
  }

  &__link {
    display: block;
    height: 100%;
  }

  &__name {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: $black;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    transition: opacity $transition-medium ease-in-out;
  }

  @include tablet {
    &__like {
      display: none;
    }
  }
}

// Animated card
.card-flying {
  position: relative;
  z-index: 0;
  box-shadow: -2px 2px 0 rgba($black, 0.9);
  transition: transform 0.15s ease-in, z-index $transition-medium ease,
    box-shadow $transition-fast ease-out,
    background-color $transition-medium ease,
    border-color $transition-medium ease;

  &:hover {
    z-index: 2;
    border-color: $color-yellow;
    box-shadow: -20px 25px 0 rgba($black, 0.9);
    transform: scale(1.2);
    filter: grayscale(0);
    transition: transform $transition-fast ease-out,
      z-index $transition-medium ease, box-shadow $transition-medium ease-out,
      $transition-medium ease, background-color $transition-medium ease,
      border-color $transition-medium ease;

    & .heart-icon .heart-fill {
      fill: $black;
    }

    & .heart-icon.liked {
      & .heart-fill,
      & .heart-stroke {
        fill: $color-red;
      }
    }

    & .card__rating {
      color: $black;
      background-color: $color-yellow;
    }

    & .card__name {
      opacity: 1;
    }

    & .image-dummy {
      color: $color-red-lighter;
      font-weight: bold;
      transition: color $transition-medium ease;

      & .icon-dummy {
        & path {
          fill: $color-red-lighter;
          stroke: $color-red;
          transition: fill $transition-medium ease,
            stroke $transition-medium ease;
        }

        & .accent {
          fill: $color-red-lighter;
        }
      }
    }
  }

  & img {
    transform: scale(1.01); // Fixes a minor glitch on images' borders
  }

  &_slide-right {
    &:hover {
      transform: scale(1.2) translateX(25%);
      box-shadow: -35px 35px 0 rgba($black, 0.9);
    }
  }
}
