.header {
  display: grid;
  gap: 25px;
  grid-template-columns: max-content auto 25% max-content;
  align-items: center;
  padding: $padding-block-main;

  &__nav {
    display: flex;
    justify-content: center;
  }
}

.logo {
  width: max-content;

  & img {
    width: 50px;
  }
}

@media (max-width: 768px) {
  .menu-main {
    gap: 0;
  }
}
