.info-page {
  &__content {
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
  }

  &__cover {
    &-holder {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: max-content;
      max-width: 274px;
      min-width: 192px;
      height: max-content;
      min-height: 192px;
      border-radius: $border-radius-main;
      border: 6px solid $color-yellow-light;
      overflow: hidden;

      &:hover {
        border-color: $color-yellow;
      }

      &_no-image {
        max-height: 360px;
        border: 0;
        background-color: $color-grey-light;

        & .image-dummy {
          position: static;
          cursor: default;

          &__text {
            font-size: 2.4rem;
          }

          & svg {
            width: 60%;
          }
        }
      }
    }
  }

  &__data-holder {
    position: relative;
    padding-left: 20px;

    // TODO: Create a sepatate style
    &::before {
      content: '';
      position: absolute;
      inset-block: 5%;
      left: 0;
      width: 2px;
      background: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0),
        #111111,
        rgba(17, 17, 17, 0)
      );
    }
  }

  &__data-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.info-article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;

  &__title {
    position: relative;
    font-size: 1.6rem;
    text-transform: uppercase;

    &::after {
      content: '';
      display: block;
      width: 90%;
      height: 2px;
      margin-block: 10px;
      background: linear-gradient(
        to right,
        rgba(17, 17, 17, 0),
        #111111 10%,
        rgba(17, 17, 17, 0)
      );
    }
  }
}
