.cards-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  &__item {
    flex-basis: 25%;
    aspect-ratio: 1 / 1.5;
  }

  &_compact {
    gap: 10px;

    & .cards-list__item {
      flex-basis: 23%;
    }

    & .card__name {
      padding-block: 5px;
      font-size: 1.2em;
    }

    & .icon-dummy {
      width: 60%;
    }

    & .image-dummy__text {
      font-size: 1.8em;
    }
  }

  &_mini {
    & .cards-list__item {
      flex-basis: 15%;
      aspect-ratio: 1 / 1;
    }

    & .card__image,
    & .image-dummy {
      min-width: 133px;
      aspect-ratio: 1 / 1;
    }

    & .image-dummy {
      position: relative;
      top: -15px;
    }

    & .icon-dummy {
      width: 50%;
    }

    & .image-dummy__text {
      font-size: 1.3em;
    }

    & .card__name {
      padding: 7px;
      font-size: 1.2em;
    }
  }
}
