.menu-header {
  display: flex;
  gap: 10px;
  font-family: $font-family-secondary;
  color: $color-grey-dark;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color $transition-instant ease;

  &__item {
    display: block;
    padding: 5px 15px;
    border-radius: 10px;

    &.active {
      background-color: $color-yellow-light;
      outline: 2px solid $color-grey-dark;
      pointer-events: none;
    }

    &_clickable:hover {
      outline: 2px solid $color-grey-dark;
    }

    &_clickable:active {
      background-color: $color-yellow;
    }

    &:has(.menu-header__submenu-icon) {
      padding-inline: 20px;
    }
  }

  &__submenu {
    position: relative;
    cursor: default;

    &:hover,
    &:focus {
      // Holder animation
      & .menu-header__submenu-holder,
      & .menu-header__submenu-holder {
        opacity: 1;
        pointer-events: all;
      }

      // Icon animation
      & .menu-header__submenu-icon {
        transform: translateY(-50%) rotate(180deg);
      }

      // Item animation
      & .menu-header__submenu-item {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &-name {
      position: relative;
      z-index: 2;
    }

    &-holder {
      position: absolute;
      z-index: 1;
      top: 0;
      left: -2px;
      width: 105%;
      min-height: 100px;
      padding-top: 40px;
      background-color: #fff;
      border-radius: 10px;
      border: 2px solid $color-grey-dark;
      opacity: 0;
      pointer-events: none;
      transition: opacity $transition-fast ease-in-out;
    }

    &-list {
      padding: 10px 5px;
      padding-top: 5px;
      text-align: center;
      border-top: 1px solid $color-grey-dark;
    }

    &-item {
      font-family: Oswald, Helvetica, sans-serif;
      font-size: 1.8rem;
      color: $color-grey-darker;
      border-radius: $border-radius-smaller;
      text-transform: none;
      opacity: 0;
      transition: color $transition-medium ease,
        background-color $transition-medium ease, transform $transition-fast,
        opacity $transition-fast;

      &:hover {
        color: $color-grey-dark;
        text-decoration: underline;
      }

      &:active {
        color: $color-yellow;
      }

      &:has(.active) {
        background-color: $color-grey-dark;
        color: #fff;
        pointer-events: none;
      }

      &:nth-child(odd) {
        transform: translateX(50%);
      }

      &:nth-child(even) {
        transform: translateX(-50%);
      }

      &-link {
        display: inline-block;
        width: 100%;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-icon {
      position: absolute;
      top: 50%;
      right: -15px;
      transform: translateY(-50%);
      transition: transform $transition-medium ease;
    }
  }
}
