.image-dummy {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1.5;
  font-family: $font-family-secondary;
  color: $color-grey;
  background-color: #eee;
  transition: font-weight 0.3s ease;

  &__text {
    font-size: 150%;
  }

  & .icon-dummy {
    width: 50%;
    height: auto;

    & path {
      fill: $color-grey;
      stroke: #a8a8a8;
      stroke-width: 5px;
    }
  }
}

.image-dummy_character {
  position: relative;
  top: -20px;
}
